.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formInputStyle{
	border-radius: 0.3rem;
	background-color: rgb(219, 194, 130);
	height: 30px;
	width: 220px;
  font-size: 100%;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 21px;
  /* color: rgb(126, 35, 12);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black; */
  /* color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  font-size: 24px; */
}

.menu{
	padding: 60px;
	margin: auto;
  margin-top: 1%;
	width: 100%;
	max-width: 520px;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  background: radial-gradient(ellipse at left bottom, rgb(92, 5, 5) 0%, rgb(126, 35, 12), rgba(109, 12, 12, 0.9) 100%);
  /* background: radial-gradient(ellipse at left bottom, rgb(109, 5, 5) 0%, rgba(134,39,11,255) 59%, rgba(143, 15, 15, 0.9) 100%); */
  /* box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8); */
	color: white;
	text-align: center;

  border-style: solid;
  border-color: #c09c3c;
  border-width: 10px;
  outline: 15px solid rgb(126, 35, 12);
}

.menuRight{
	padding: 60px;
	margin: auto;
  margin-top: 1%;
	width: 100%;
	max-width: 520px;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background: radial-gradient(ellipse at left bottom, rgba(22, 24, 47, 1) 0%, rgba(38, 20, 72, 0.9) 59%, rgba(17, 27, 75, 0.9) 100%); */
  background: radial-gradient(ellipse at left bottom, rgb(92, 5, 5) 0%, rgb(126, 35, 12), rgba(109, 12, 12, 0.9) 100%);
  /* box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8); */
	color: white;
	text-align: right;
  border-style: solid;
  border-color: #c09c3c;
  border-width: 10px;
  outline: 15px solid rgb(126, 35, 12);
}

.button2 {
	border: none;
	outline: none;
	width: 50%;
	padding: 15px 0;
	font-size: 19px;
	letter-spacing: 3px;
  border-style: solid;
  border-color: #c09c3c;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  text-transform:uppercase;
  font-weight: bolder;
  color: rgb(126, 35, 12);
  background-color: #c09c3c;

  border-style: solid;
  border-color: rgb(126, 35, 12);
  border-width: 2px;
  outline: 2px solid #c09c3c;
  margin-bottom: 8px;
}

button {
	border: none;
	outline: none;
	width: 50%;
	padding: 15px 0;
	color: #c09c3c;
	font-size: 19px;
	letter-spacing: 3px;
  background:transparent;
  border-style: solid;
  border-color: #c09c3c;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  text-transform:uppercase;
  font-weight: bolder;
}

h1 {
  font-size: 45px;
  /* background: red; */
  color: red;
  text-align: center;
  /* text-decoration-line:underline; */
}

label{
  font-size: 20px;
  margin-right: 10px;
}

a{
  color: white;
}

div{
  font-size: 23px;
}

span{
  font-size: 23px;
  text-align: center;
  color: #fae5ab;
  font-weight: bold;
}

strong{
  font-size: 23px;
  text-align: center;
}

h2 {
  font-size: 25px;
  text-align: center;
}

/* .goldText{
  color: #fae5ab;
  font-weight: bold;
} */

.zeroMargin{
  margin-top: 50px;
  margin-bottom: 0px;
}